prune .idea
include .* *.png *.md *.ini *.in *.yml *.toml *.sh *.txt
exclude .coverage .python-version .gitignore .mypy* .pytest*
recursive-include tests .* *.png *.pt *.txt *.md *.ini *.in *.yml *.toml *.sh *.py
